<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    {{>link}}
    <link rel="stylesheet" href="./style.css">
</head>


<body>

    {{>navbar}}

    <div class="container-fluid about-container">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 about_left">
                        <figure>
                            <img src="https://i.ibb.co/Qk7wy4T/image-18-2.png" alt="not-found" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 about_right">
                        <p>Welcome Anisur Rahman world</p>
                        <h1>I am a Mern stact Developer</h1>
                        <br>
                       <a href="https://protfolio-6ec83.web.app/" target="_polas"><button>About Me</button></a> 
                    </div>
                </div>
            </div>
        </div>

    </div>
    {{>footer}}
</body>

</html>